<div style="width: 1300px; margin: 0 auto;">
  <!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
  <h2>Editar Perfil</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "nome" } %>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "Deixe em branco se não quiser alterar",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "Digite sua senha atual para confirmar suas alterações",
                required: true,
                input_html: { autocomplete: "current-password" } %>

    <%= f.input :telefone,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "telefone" } %>

    <div class="field">
      <%= f.label :role %><br />
      <%= f.select :role, User.roles.keys.map { |role| [role.titleize, role] } %>
    </div>
    <br />
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar dados" %>
  </div>
<% end %>

<h3>Excluir Conta</h3>

<div>Não está satisfeito? <%= button_to "Excluir minha conta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Voltar", :back %>

</div>