<section class="categories-section">
  <div>

    <h3 class="main-title-section">Confira nossa opções de Categorias</h3>


    <div class="product-categories__container">
      <%= link_to("#") do %>
        <div class="product-category__item">
          <%= svg_tag "pictures/categories/dog.svg", class: "products-category__icon" %>
        </div>
        <h3>Cães</h3>
      <% end %>

      <%= link_to("#") do %>
        <div class="product-category__item">
          <%= svg_tag "pictures/categories/cat.svg", class: "products-category__icon" %>
        </div>
        <h3>Gatos</h3>
      <% end %>

      <%= link_to("#") do %>
        <div class="product-category__item">
          <%= svg_tag "pictures/categories/bag-shop.svg", class: "products-category__icon" %>
        </div>
        <h3>Rações</h3>
      <% end %>

      <%= link_to("#") do %>
        <div class="product-category__item">
          <%= svg_tag "pictures/categories/bath-shower.svg", class: "products-category__icon" %>
        </div>
        <h3>Banho e Tosa</h3>
      <% end %>
    </div>
  </div>
</section>