<div id="<%= dom_id animal %>">
  <p>
    <strong>Dono:</strong>
    <%= animal.cliente.nome %>
  </p>

  <p>
    <strong>Animal ID:</strong>
    <%= animal.id %>
  </p>
  <p>
    <strong>Nome do Animal:</strong>
    <%= animal.nome %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= animal.especie %>
  </p>

  <p>
    <strong>Aberto:</strong>
    <%= animal.raca %>
  </p>

</div>
