<main class="login-container">
  <div class="login-illustration">
    <%= image_tag("pictures/login/login-ilustration.png", alt: "Login illustration") %>
  </div>

  <section class="login-form-container">
    <div class="login-form">
      <h2 class="login-main-title">Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="input-container">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "exemplo@email.com" %>
          </div>

          <div class="input-container">
            <%= f.label :password, "Senha" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "senha" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Lembrar-se", class: "login-input-label" %>
            </div>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.submit "Entrar", class: "button-submit" %>
        </div>
      <% end %>

      <div>
        <p class="register-title">
          Não tem uma conta?
          <%= link_to "Cadastre-se", new_user_registration_path %>
        </p>
      </div>
    </div>
  </section>
</main>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>