<header class="">
  <div class="header__container">
    <div class="header__logo">
      <%= link_to "PetShop Manager", root_path %>
    </div>
    <div class="header__nav">
      <ul class="flex-center-between" style="gap: 2rem;">
        <li>
        </li>
        <li>
          <%= link_to "Home", root_path, class: current_page?(root_path) && 'header-btn-shop' %>
        </li>
        <li>
          <%= link_to "Shop", shop_path,  class: current_page?(shop_path) && 'header-btn-shop' %>
        </li>
        <li>
          <%= link_to "Contato", contact_path, class: current_page?(contact_path) && 'header-btn-shop' %>
        </li>
        <li>
          <%= link_to "Quem Somos", about_us_path, class: current_page?(about_us_path) && 'header-btn-shop' %>
        </li>
        <% if user_signed_in? %>
          <%= render "header/authenticated_content" %>
        <% else %>
          <li>
            <%= link_to(new_user_session_path, class: "login-button") do %>
            <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>